@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 0 auto;
}


input {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    font-size: 1rem;
}

.transformed-output {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    padding: 1rem ;
    background-color: beige;
    position: relative;
    text-align: left;
}

.transformed-output label {
    font-size: .75rem;
    position: absolute;
    left: 1rem;
    top: -.75rem;
    background-color: black;
    color: white;
    padding: .25rem;
}










